@font-face {
  font-family: "Richie";
  src: url("/font/Richie\ Brusher.ttf") format("truetype");
}

@font-face {
  font-family: "Hey_October";
  src: url("/font/hey_october/Hey\ October.otf") format("woff2"),
    url("/font/hey_october/Hey\ October.ttf") format("truetype");
}

@font-face {
  font-family: "john_Doe";
  src: url("/font/cf_john_doe/CF\ John\ Doe\ font\ -\ Read\ Me.rtf")
      format("woff2"),
    url("/font/cf_john_doe/CFJohnDoePERSONALUSE-Regula.ttf") format("truetype");
}

.navbar-item {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.navbar-item:hover {
  text-decoration: none;
  color: black !important;
}

.aPropos {
  background-color: white;
  animation: pulse;
  animation-duration: 1s;
}

.navbar-item:hover {
  text-decoration: none;
}

#sectionAccueil {
  background-image: url(img/imgAcceuil4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 46em;
}

#titleSite {
  margin-top: 1.3em;
  font-family: "Richie", "Amatic SC";
  color: whitesmoke;
  text-align: center;
  font-size: 6em;
}

#subtitleSite {
  font-family: "john_Doe";
  color: whitesmoke;
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
}

#sectionContenuSite {
  /* background-image: url(img/background_greasy_plant.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: whitesmoke;
  opacity: 0.9;
}

/* CARDS PANIERS */

#columnsCard {
  padding-bottom: 3em;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 3em;
}

.card {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.card-content {
  text-align: center;
  background-color: rgb(19, 49, 50);
  opacity: 0.9;
  color: whitesmoke;
  font-family: "Amatic SC", cursive;
  font-size: 1em;
}

.titlePanier {
  color: whitesmoke;
  font-family: "Richie";
  font-size: 1.5em;
}

.content {
  text-align: justify;
}

#buttonReserver {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.2em;
  color: whitesmoke;
  background-color: rgb(19, 49, 50);
}

/* SECTION A PROPOS */

#sectionApropos {
  background-color: rgb(58, 81, 82);
}

#columnsApropos {
  margin-left: 8em;
  margin-right: 8em;
  background-color: whitesmoke;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

#titleApropos {
  text-align: center;
  margin-top: 2em;
  font-family: "Richie";
  font-size: 2em;
  color: rgb(19, 49, 50);
}

.textApropos {
  font-family: "Amatic SC", cursive;
  text-align: justify;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2em;
  color: rgb(19, 49, 50);
}

#imgAlwin {
  width: 100%;
  height: 100%;
}

#imgBasile {
  width: 100%;
}

/* SECTION CONTACT */

#sectionContact {
  background-color: whitesmoke;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 30em;
}

#titleContact {
  color: rgb(19, 49, 50);
  text-align: center;
  font-size: 3em;
  font-family: "Richie";
}

#columnsContact {
  margin-top: 3em;
  height: 15em;
}

#columnAdress {
  color: black;
  padding-top: 1em;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  opacity: 0.8;
  margin-right: 1em;
  margin-left: 1em;
}

#columnHoraires {
  color: black;
  padding-top: 1em;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  opacity: 0.8;
  margin-right: 1em;
  margin-left: 1em;
}

/* #sectionBio {
  color: black;
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: rgb(19, 49, 50);
}

#titleBio {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#bio {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  text-align: justify;
  width: 65em;
}

/* photo Alwin et Basile */

/* #heroPhotos {
  height: 25em;
  background-image: url("img/imgAcceuil3.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* les paniers */

/* #heroPaniers {
  height: 50em;
}

#titlePaniers {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

#divTable {
  width: 75%;
}

.descriptionPanier {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
}

.imgPanier1 {
  width: 28%;
}

/* evenements */

/* #sectionEvent {
  height: 65em;
  background-color: #e7f5f2;
}

#titleSectionEvents {
  font-family: "Amatic SC", cursive;
  text-align: center;
  margin-bottom: 3em;
}

#divTableEvents {
  width: 75%;
}

#tableEvents {
  background-color: white;
}

#logoFb {
  width: 2em;
  margin-left: 4em;
  margin-top: 2em;
}

.titleEvent {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.8em;
}

.dateEvent {
  margin-top: 0em;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
}

.paraEvent {
  font-family: "Amatic SC", cursive;
  font-size: 1.3em;
  margin-bottom: 1.5em;
} */

/* contact */

/* #heroContact {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 30em;
}

#columnsContact {
  border: black solid 1px;
  height: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

#divLogoContact {
  border: red 1px solid;
}

#contactLogoFb {
  width: 2em;
}

#contactLogoInsta {
  margin-top: 1em;
  width: 1.8em;
}

#adress {
  text-align: end;
  border: 1px solid red;
}

#horaires {
  text-align: start;
} */
