@font-face {
  font-family: "Richie";
  src: url("/Le-Potager-Alwin-Basile/font/Richie\ Brusher.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hey_October";
  src: url("/Le-Potager-Alwin-Basile/font/hey_october/Hey\ October.otf")
      format("woff2"),
    url("/Le-Potager-Alwin-Basile/font/hey_october/Hey\ October.ttf")
      format("truetype");
}

@font-face {
  font-family: "john_Doe";
  src: url("/Le-Potager-Alwin-Basile/font/cf_john_doe/CF\ John\ Doe\ font\ -\ Read\ Me.rtf")
      format("woff2"),
    url("/Le-Potager-Alwin-Basile/font/cf_john_doe/CFJohnDoePERSONALUSE-Regula.ttf")
      format("truetype");
}

.navbar-item {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.navbar-item:hover {
  text-decoration: none;
  color: black !important;
}

.aPropos {
  background-color: white;
  animation: pulse;
  animation-duration: 1s;
}

.navbar-item:hover {
  text-decoration: none;
}

#sectionAccueil {
  background-image: url(img/imgAcceuil4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 46em;
}

#titleSite {
  margin-top: 1.3em;
  font-family: "Hey_October";
  color: whitesmoke;
  text-align: center;
  font-size: 6em;
}

#subtitleSite {
  font-family: "john_Doe";
  color: whitesmoke;
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
}

#sectionContenuSite {
  background-color: whitesmoke;
  opacity: 0.9;
}

/* CARDS PANIERS */

#columnsCard {
  padding-bottom: 3em;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 3em;
}

.card {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.card-content {
  text-align: center;
  background-color: rgb(19, 49, 50);
  opacity: 0.9;
  color: whitesmoke;
  font-family: "Amatic SC", cursive;
  font-size: 1em;
}

.titlePanier {
  color: whitesmoke;
  font-family: "Richie";
  font-size: 1.5em;
}

.content {
  text-align: justify;
}

#buttonReserver {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.2em;
  color: whitesmoke;
  background-color: rgb(19, 49, 50);
}

/* SECTION A PROPOS */

#sectionApropos {
  background-color: rgb(58, 81, 82);
}

#columnsApropos {
  margin-left: 8em;
  margin-right: 8em;
  background-color: whitesmoke;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

#titleApropos {
  text-align: center;
  margin-top: 2em;
  font-family: "Richie";
  font-size: 2em;
  color: rgb(19, 49, 50);
}

.textApropos {
  font-family: "Amatic SC", cursive;
  text-align: justify;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2em;
  color: rgb(19, 49, 50);
}

#imgAlwin {
  width: 100%;
  height: 100%;
}

#imgBasile {
  width: 100%;
  height: 100%;
}

/* SECTION CONTACT */

#sectionContact {
  background-color: whitesmoke;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 30em;
}

#titleContact {
  color: rgb(19, 49, 50);
  text-align: center;
  font-size: 3em;
  font-family: "Richie";
}

#columnsContact {
  margin-top: 3em;
  height: 15em;
}

#columnAdress {
  color: black;
  padding-top: 1em;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  opacity: 0.8;
  margin-right: 1em;
  margin-left: 1em;
}

#columnHoraires {
  color: black;
  padding-top: 1em;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 0.5em 1em -0.125em rgb(19, 49, 50),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  opacity: 0.8;
  margin-right: 1em;
  margin-left: 1em;
}
